# Salin file ini menjadi .env dan isi nilainya

# Token bot dari @BotFather di Telegram
BOT_TOKEN=ISI_BOT_TOKEN_DISINI

# API key dari freecustom.email (sudah diisi)
FCE_API_KEY=fce_65c103c6e058441f729fa73515bde90dd3fa6f3eaaaabff51ee09685ef133829
